body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.waiting{
    position:absolute;
    width: 100%;
    height: 100%;
    
    background: #FFFFFF;
}

.e1{
    position: absolute;
    width: 606px;
    height: 540px;
    left: 322px;
    top: 560px;

}

.e2{
    position: absolute;
    width: 565px;
    height: 558px;
    left: 1108px;
    top: 81px;
}

.e3{
    position: absolute;
    width: 631px;
    height: 527px;
    left: 0px;
    top: 0px;
}

.giphy{
    position: absolute;
    width: 175px;
    height: 179px;
    left: 553px;
    top: 240px;
}

.text{
    position: absolute;
    width: 741px;
    height: 30px;
    left: 270px;
    top: 432px;
    
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    /* identical to box height */
    
    color: #000000;
}